<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOrgMapper">

    <resultMap type="SysOrg" id="SysOrgResult">
        <id     property="orgId"     column="org_id"     />
        <result property="name"   column="name"   />
        <result property="status"   column="status"   />
        <result property="serviceStartTime"   column="service_start_time"   />
        <result property="serviceEndTime"   column="service_end_time"   />
        <result property="dataViewUrl"   column="data_view_url"   />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectOrgVo">
        select org_id, name, status, service_start_time, service_end_time, data_view_url, del_flag, create_by, create_time
        from sys_org
    </sql>

<!--    <select id="selectDeptList" parameterType="SysDept" resultMap="SysDeptResult">-->
<!--        <include refid="selectDeptVo"/>-->
<!--        where d.del_flag = '0'-->
<!--        <if test="deptId != null and deptId != 0">-->
<!--            AND dept_id = #{deptId}-->
<!--        </if>-->
<!--        <if test="parentId != null and parentId != 0">-->
<!--            AND parent_id = #{parentId}-->
<!--        </if>-->
<!--        <if test="deptName != null and deptName != ''">-->
<!--            AND dept_name like concat('%', #{deptName}, '%')-->
<!--        </if>-->
<!--        <if test="status != null and status != ''">-->
<!--            AND status = #{status}-->
<!--        </if>-->
<!--        &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
<!--        ${params.dataScope}-->
<!--        order by d.parent_id, d.order_num-->
<!--    </select>-->

<!--    <select id="selectDeptListByRoleId" resultType="Long">-->
<!--        select d.dept_id-->
<!--        from sys_dept d-->
<!--        left join sys_role_dept rd on d.dept_id = rd.dept_id-->
<!--        where rd.role_id = #{roleId}-->
<!--        <if test="deptCheckStrictly">-->
<!--            and d.dept_id not in (select d.parent_id from sys_dept d inner join sys_role_dept rd on d.dept_id = rd.dept_id and rd.role_id = #{roleId})-->
<!--        </if>-->
<!--        order by d.parent_id, d.order_num-->
<!--    </select>-->

<!--    <select id="selectDeptById" parameterType="Long" resultMap="SysDeptResult">-->
<!--        <include refid="selectDeptVo"/>-->
<!--        where dept_id = #{deptId}-->
<!--    </select>-->

<!--    <select id="checkDeptExistUser" parameterType="Long" resultType="int">-->
<!--		select count(1) from sys_user where dept_id = #{deptId} and del_flag = '0'-->
<!--	</select>-->

<!--    <select id="hasChildByDeptId" parameterType="Long" resultType="int">-->
<!--		select count(1) from sys_dept-->
<!--		where del_flag = '0' and parent_id = #{deptId} limit 1-->
<!--	</select>-->

<!--    <select id="selectChildrenDeptById" parameterType="Long" resultMap="SysDeptResult">-->
<!--		select * from sys_dept where find_in_set(#{deptId}, ancestors)-->
<!--	</select>-->

<!--    <select id="selectNormalChildrenDeptById" parameterType="Long" resultType="int">-->
<!--		select count(*) from sys_dept where status = 0 and del_flag = '0' and find_in_set(#{deptId}, ancestors)-->
<!--	</select>-->

<!--    <select id="checkDeptNameUnique" resultMap="SysDeptResult">-->
<!--        <include refid="selectDeptVo"/>-->
<!--        where dept_name=#{deptName} and parent_id = #{parentId} limit 1-->
<!--    </select>-->

    <select id="get" parameterType="String" resultMap="SysOrgResult">
        <include refid="selectOrgVo"/>
        where org_id = #{orgId}
    </select>

        <select id="list" parameterType="SysDept" resultMap="SysOrgResult">
            <include refid="selectOrgVo"/>
            where del_flag = '0'
<!--            &lt;!&ndash; 数据范围过滤 &ndash;&gt;-->
<!--            ${params.dataScope}-->
<!--            order by d.parent_id, d.order_num-->
        </select>

    <insert id="add" parameterType="SysOrg">
        insert into sys_org(
        org_id,
        name,
        status,
        service_start_time,
        service_end_time,
        data_view_url,
        <if test="createBy != null and createBy != ''">create_by,</if>
        create_time
        )values(
        #{orgId},
        #{name},
        #{status},
        #{serviceStartTime},
        #{serviceEndTime},
        #{dataViewUrl},
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        sysdate()
        )
    </insert>

    <update id="update" parameterType="SysOrg">
        update sys_org
        <set>
            name = #{name},
            status = #{status},
            service_start_time = #{serviceStartTime},
            service_end_time = #{serviceEndTime},
            data_view_url = #{dataViewUrl},
            update_time = sysdate()
        </set>
        where dept_id = #{deptId}
    </update>

    <delete id="delete" parameterType="String">
		update sys_org set del_flag = '2' where org_id = #{orgId}
	</delete>

</mapper>